# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# VS Code
.vscode/

# Large ML / binary files
*.vrm
*.bin
*.dll
*.jar

# Rhubarb lip sync files
ml_backend/rhubarb/

# OS files
.DS_Store
Thumbs.db