# 🔐 Secrets
.env

# 🐍 Python
_pycache_/
*.pyc
*.pyo
*.pyd

# 📦 Virtual Environment
venv/
env/
.venv/

# 🎵 Audio files (Jarvis use)
*.mp3
*.wav

# 📂 Build / Distribution
build/
dist/
*.egg-info/

# 🧪 Cache / Testing
.pytest_cache/
.coverage
htmlcov/

# 🧠 IDE / Editor
.vscode/
.idea/

# 📓 Jupyter
.ipynb_checkpoints